@font-face {
  font-family: "HiraginoW3";
  src: url('./fonts/ヒラギノ角ゴシックW3.otf');
}
@font-face {
  font-family: "HiraginoW6";
  src: url('./fonts/ヒラギノ角ゴシックW6.otf');
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url('./fonts/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: "SF-Mono-Regular";
  src: url('./fonts/SF-Mono-Regular.otf');
}

@font-face {
  font-family: "noto";
  src: url("./fonts/NotoSansJP-Light.otf");
}
