@font-face {
  font-family: 'GoogleSans';
  src: url('./fonts/GoogleSansRegular.ttf');
}
@font-face {
	font-family: 'GoogleSansBold';
	src: url('./fonts/GoogleSansBold.ttf');
}
@font-face{
	font-family: 'GoogleSansMedium';
	src: url('./fonts/GoogleSansMedium.ttf');
}
@font-face {
	font-family: 'HiraginoW0';
	src: url('./fonts/ヒラギノ角ゴシックW0.otf');
}
@font-face{
	font-family: 'HiraginoW1';
	src: url('./fonts/ヒラギノ角ゴシックW1.otf');
}
@font-face {
	font-family: 'HiraginoW2';
	src: url('./fonts/ヒラギノ角ゴシックW2.otf');
}
@font-face{
	font-family: 'HiraginoW3';
	src: url('./fonts/ヒラギノ角ゴシックW3.otf');
}
@font-face {
	font-family: 'HiraginoW4';
	src: url('./fonts/ヒラギノ角ゴシックW4.otf');
}
@font-face{
	font-family: 'HiraginoW5';
	src: url('./fonts/ヒラギノ角ゴシックW5.otf');
}
@font-face{
	font-family: 'HiraginoW6';
	src: url('./fonts/ヒラギノ角ゴシックW6.otf');
}

@font-face {
      font-family: 'ProductSans';
      src: url('./fonts/ProductSansRegular.ttf')
}

@font-face {
      font-family: 'ProductSansBold';
      src: url('./fonts/ProductSansBold.ttf')
}

@font-face {
      font-family: 'corporatem';
      src: url('./fonts/CorporateM.ttf');
}

@font-face {
      font-family: "noto";
      src: url("./fonts/NotoSansJP-Light.otf");
}

@font-face {
  font-family: 'sfmono';
  src: url('./fonts/SF-Mono-Regular.otf');
}
