* {
  padding: 0px;
  margin: 0px;
}

header{
  height: 14vh;
  background: white;
}

.logo {
  font-size: 7vh;
  float: left;
}

.list {
  margin-left: 18px;
  list-style: none;
  float: right;
  font-size: 5vh;
}

.title {
  font-size: 10vh;
}

.main {
  background: #e1e6f0;
}
