* {
  margin: 0px;
  padding: 0px;
}

/* 👇 ここからポインター制御 👇 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  cursor: none;
}
.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.cursor {
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 128347;
}
.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(253, 254, 0, 0.5);
  z-index: 1000;
  transition: transform ease 0.1s;
  text-align: center;
}
.follower span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  transform: scale(0);
}
.follower.is-active {
  transform: scale(3);
}
.btn {
  display: inline-block;
  width: 160px;
  margin: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
}
.btn a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 16px;
  background-color: #000;
  cursor: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  cursor: none;
}
.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.cursor {
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 1001;
}
.follower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(253, 254, 0, 0.5);
  z-indes: 1000;
  transition: transform ease 0.1s;
  text-align: center;
}
.follower span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  transform: scale(0);
}
.follower.is-active {
  transform: scale(3);
}
.btn {
  display: inline-block;
  width: 160px;
  margin: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
}
.btn a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 16px;
  background-color: #000;
  cursor: none;
}
/* 👆 ここまでポインター制御 👆 */


/* 👇 ここからstyle.css 👇 */

li {
  list-style: none;
}

/* header */

.header {
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: flex;
  height: 74px;
  justify-content: space-between;
  padding: 0 35px;
}
.nav-list {
  /* navの横並び */
  display: flex;
}
.nav-item {
  /* メニューの右側に余白 */
  margin-left: 55px;
}

.burger-btn {
  display: none;
}


@media screen and (max-width:768px) {
  /* base_sp */
  /* デフォルトのbuttonスタイルをリセット */
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }

  /* humberger-menu */
  .header {
    padding: 0 5%;
  }

/* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    height: 39px;
    position: relative;
    width: 39px;
    z-index: 3;
  }

  .bar {
    background-color: #5f6368;
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 20px;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }
  /* スクロール制御 */
  .noscroll{
    overflow: hidden;
  }

  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }

  .header-nav {
    background-color: rgb(245 245 245);
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .nav-list {
    width: 100%;
    font-family: "Hiragino Kaku Gothic W6 JIS2004";
    font-size: 22px;
    display: block;
    left: 30%;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-left: 43px;
  }
  .nav-item {
    padding: 30px;
  }

  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }
}

.site-title {
  font-size: 26px;
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
}
header a{
  color: black;
  text-decoration: none;
}

main {
  margin: 0px 43px;
}

.title {
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
  width: 50%;
  /* Safari */
  background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: -moz-linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: -webkit-linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: rgba(255,255,255,0);
  -webkit-text-fill-color: rgba(255,255,255,0);
  font-size: 60px;
  margin: 50px 0px;
}

.space {
  height: 50px;
}

/* 購入する ボタン 👇 ここから */
.stamp p {
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0px;
  padding: 1em 2em;
  width: 300px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}

.stamp p::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid white;
  border-image: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  border-image-slice: 1;
  transition: 0.2s;
}

.stamp p::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.stamp p:hover::before {
  top: 0;
  left: 0;
}

.stamp p:hover {
  text-decoration: none;
  background-color: #a0c4d3;
}

.stamp p {

}

/* 購入する ボタン 👆 ここまで */


@media screen and (max-width:768px) {
  .cursor {
    display: none;
  }
  .follower {
    display: none;
  }
  .site-title {
    font-size: 20px;
  }
  main {
    margin: 0px 22px;
  }
  .title {
    width: 100%;
    font-size: 30px;
  }
  /* 購入する ボタン 👇 ここから */
  .stamp p {
    width: 10em;
    color: #333;
    font-size: 15px;
  }
  /* 購入する ボタン 👆 ここまで */
}

.dan h1 {
  position: relative;
  padding: 0.25em 0;
  font-family: "Hiragino Kaku Gothic W6 JIS2004";
  font-size: 30px;
}

.dan h1::after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
}

.contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap: 30px;
}

.aaa {
  padding: 20px;
}

.sticker p {
  margin-left: 50px;
  font-size: 17px;
  letter-spacing: 0.04em;
}
