* {
  margin: 0px;
  padding: 0px;
}

/* 👇 ここからstyle.css 👇 */

li {
  list-style: none;
}

/* header */

.header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: flex;
  height: 74px;
  justify-content: space-between;
  padding: 0 35px;
}
.nav-list {
  /* navの横並び */
  display: flex;
}
.nav-item {
  /* メニューの右側に余白 */
  margin-left: 55px;
}

.burger-btn {
  display: none;
}


@media screen and (max-width:768px) {
  /* base_sp */
  /* デフォルトのbuttonスタイルをリセット */
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  }
  
  /* humberger-menu */
  .header {
    padding: 0 5%;
  }
    
/* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    height: 39px;
    position: relative;
    width: 39px;
    z-index: 3;
  }
  
  .bar {
    background-color: #5f6368;
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 20px;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }
  /* スクロール制御 */
  .noscroll{
    overflow: hidden;
  }
  
  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  
  .header-nav {
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .nav-list {
    display: block;
    left: 20%;
    position: absolute;
    text-align: left;
    top: 30%;

  }
  .nav-item {
    margin-bottom: 40px;
    margin-right: 0;
    font-size: 30px;
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }
}

.site-title {
  font-size: 26px;
}
header a{
  color: black;
  text-decoration: none;
}

main {
  margin: 0px 43px;
}

.title {
  width: 50%;
  /* Safari */
  background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: -moz-linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: -webkit-linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  background: linear-gradient( to right,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: rgba(255,255,255,0);
  -webkit-text-fill-color: rgba(255,255,255,0);
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 50px 10px;
}
@media screen and (max-width:768px) {
  .site-title {
    font-size: 20px;
  }
  main {
    margin: 0px 22px;
  }
  .title {
    width: 100%;
    font-size: 30px;
  }
}