* {
  padding: 0px;
  margin: 0px;
}

header{
  height: 70px;
  background: white;
}

.logo {
  font-size: 40px;
  float: left;
  margin: 5px 45px;
}

.list {
  list-style: none;
  float: right;
  font-size: 30px;
  padding: 10px 6px;
}

.a {
  margin-right: 42px;
}

.title {
  font-size: 30px;
}

.main {
  background: #e1e6f0;
}
