@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 12vh;
  border-bottom: 2px solid black;
}

.title {
  float: left;
  font-size: 6vh;
  padding: 5px 16px;
}

.list {
  list-style: none;
  float: right;
  padding: 5px 16px;
  margin-top: 0.5vh;
  margin-right: 3vh;
  font-size: 5.2vh;
}
